<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>JDAddressNetRequestPicker.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>61E78B2E1F2D8E1A00CCA7CD</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>61E78B471F2D8E1A00CCA7CD</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>61E78B521F2D8E1A00CCA7CD</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
